<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
</head>
<body>

<h2>Live Chat</h2>

<ul id="messages"></ul>

<input id="msg" placeholder="type message">
<button onclick="sendMessage()">Send</button>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();

    socket.on('message', function(msg) {
        const li = document.createElement("li");
        li.innerText = msg;
        document.getElementById("messages").appendChild(li);
    });

    function sendMessage() {
        const msg = document.getElementById("msg").value;
        if (!msg) return;

        socket.send(msg);
        document.getElementById("msg").value = "";
    }
</script>

</body>
</html>